%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    = link_to "Congressional Disclosures Project", "/", class: "navbar-brand"
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarNav", type: "button"}
      %span.navbar-toggler-icon
    -# #navbarNav.collapse.navbar-collapse
    -#   %ul.navbar-nav.ms-auto
    -#     %li.nav-item
    -#       = link_to "Congress", "/", class: "nav-link active", "aria-current" => "page"
    -#     %li.nav-item
    -#       = link_to "Senate", "#", class: "nav-link"
    -#     %li.nav-item
    -#       = link_to "House of Representatives", "#", class: "nav-link"
    -#     %li.nav-item
    -#       = link_to "Contact", "#", class: "nav-link"
